@import '../../../styles/settings/vars';

.footer {
	position: relative;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;

	display: flex;
	justify-content: center;
	align-items: center;
	background: $white;
	color: $black;
	// box-shadow: 0px 16px 125px 21px rgba(255, 255, 255, 0.8);
	z-index: 666;
}

.footernav {
	display: flex;
	padding: 24px 16px;
	width: 100%;
}

.footernavList {
	display: flex;
	justify-content: space-between;
	width: 100%;

	li {
		position: relative;
		padding: 2px;
		text-align: center;

		&:hover {
			cursor: pointer;
		}

		@include breakpoint($desktop) {
			min-width: 69px;
		}

		a {
			color: inherit;

			@include breakpoint($tab) {
				font-size: 24px;
			}
		}
	}
}
