@import '../../../styles/settings/vars';

.section {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: calc(100vh - 100px);
	z-index: 666;

	&:last-child {
		margin: 145px auto 75px;

		@include breakpoint($s) {
			margin: 75px auto;
		}
	}
}
