@import '../../../styles/settings/vars';
@import '../../../styles/anim/keyframes';

.infoctn {
	padding: 16px 4px;

	@include breakpoint($desktop) {
		margin: 50px auto;
		padding: 16px;
	}

	h1 {
		margin-top: 8px;
	}
}

.infoDesc {
	margin: 28px 0;
	font-size: 16px;
	line-height: 28px;
	text-align: justify;

	@include breakpoint($desktop) {
		margin: 40px 0;
		font-size: 22px;
		line-height: 36px;
	}
}

.social {
	margin: 24px 0 0 0;

	&:last-child {
		margin-bottom: 190px;

		@include breakpoint($xs + 1) {
			margin-bottom: 10px;
		}

		@include breakpoint($m) {
			margin-bottom: 0;
		}
	}

	@include breakpoint($desktop) {
		font-size: 24px;
	}

	p {
		margin: 0 0 28px 0;
	}
}
